<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <body>

            <h1>
                Codial / Profile
            </h1>

        </body>
    </body>
</html>