<h1>SIGN UP</h1>
<form action="/user/create" method="post">
    <input type="text" name="name" placeholder="your name" />
    <input type="email" name="email" placeholder="your email"/>
    <input type="password" name="password" placeholder="password"/>
    <input type="password" name="confirm_password" placeholder="confirm password"/>
    <input type="submit" value="Sign up"/>
</form>